/* Anpassungen für das Layout */
/* Das Menü wird links platziert, der Inhaltsbereich nimmt den verfügbaren Platz ein */
main {
    display: flex;
    flex-wrap: wrap;
}

main nav {
    flex: 1; /* Änderung: Das Menü nimmt den verfügbaren Platz ein */
}

main div {
    flex: 1;
}

/* Anpassungen für größere Bildschirmauflösungen */
@media screen and (min-width: 768px) {
    main nav {
        flex: 0 0 auto;
        width: auto; /* Änderung: Das Menü nimmt nur so viel Platz ein wie der längste Menüpunkt */
        order: -1;
    }

    main div {
        flex: 2;
    }
}






